<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum footer</title>
</head>
<body>
<div th:fragment="footer">
    <section class="footer-part">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info-part-one320">
                        <h4>Who are we ?</h4>
                        <p>Telerik and Kendo UI are part of Progress product portfolio. Progress is the leading provider
                            of application development and digital experience technologies.</p>
                        <h4>Address :</h4>
                        <p>A30, ul. "Krastyu Rakovski" str,
                            <br> 1729 Sofia, Bulgaria</p>
                        <h4>Support :</h4>
                        <p>Support Telephone No : +359 2 8099850</p>
                        <p>Support Email Account : </p>
                        <p><a th:href="'mailto:telerikforums@gmail.com'">telerikforums@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-part-two320">
                        <h4>Quick Links</h4>
                        <a href="#" th:href="@{/}">
                            <p th:text="#{navigation.home}"></p>
                        </a>
                        <a href="#" th:href="@{/topics/new}">
                            <p th:text="#{navigation.ask_question}"></p>
                        </a>
                        <a href="#" th:href="@{/users}">
                            <p th:text="#{navigation.list_all_users}"></p>
                        </a>
                        <a href="#" th:href="@{/users/profile}">
                            <p th:text="#{navigation.edit_profile}"></p>
                        </a>
                        <a href="#" th:href="@{/users/admin-panel}">
                            <p th:text="#{navigation.admin_panel}"></p>
                        </a>
                        <a href="#" th:href="@{/contact_us}">
                            <p th:text="#{navigation.contact_us}"></p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-part-three320">
                        <h4>Popular Topics</h4>
                        <div class="news-info209">
                            <h5>Why are the British confused</h5>
                            <p>(Why I darest say, they darest not get offended when they so ...</p> <small>July 16,
                            2017</small></div>
                        <div class="news-info209">
                            <h5>How to approach applying for</h5>
                            <p>(I am trying to find/change my career trajectory. Its a good cozy ...</p> <small>July 16,
                            2017</small></div>
                        <div class="news-info209">
                            <h5>How to evaluate whether a</h5>
                            <p>A friend of mine is the CEO of his own small business. ...</p> <small>July 16,
                            2017</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-part-four320">
                        <h4>Latest Tweets</h4>
                        <div class="tweet-details29">
                            <p><i class="fa fa-twitter-square" aria-hidden="true"></i><a
                                    href="https://twitter.com/ForumsSxTelerik"
                                    th:href="@{href='https://twitter.com/ForumsSxTelerik/status/1688472259952848896?ref_src=twsrc%5Etfw'}">We`re running out of time!
                            </a></p> <small>about 2 hours ago</small>
                        </div>
                        <div class="tweet-details29">
                            <p><i class="fa fa-twitter-square" aria-hidden="true"></i><a
                                    href="https://twitter.com/ForumsSxTelerik"
                                    th:href="@{https://twitter.com/ForumsSxTelerik}">Telerik has no latest tweets
                                available...
                            </a></p> <small>about 1 minute ago</small>
                        </div>
                        <div class="tweet-details29">
                            <p><i class="fa fa-twitter-square" aria-hidden="true"></i><a
                                    href="https://twitter.com/ForumsSxTelerik"
                                    th:href="@{https://twitter.com/ForumsSxTelerik}">Telerik has no latest tweets
                                available...
                            </a></p> <small>about 1 minute ago</small>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="footer-social">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright 2023 - Sex forums | <strong>Team 10 @ Telerik A48 Java Cohort</strong></p>
                </div>
                <div class="col-md-6">
                    <div class="social-right2389"><a href="https://twitter.com/ForumsSxTelerik"
                                                     th:href="@{https://twitter.com/ForumsSxTelerik}"><i
                            class="fa fa-twitter-square" aria-hidden="true"></i></a> <a
                            href="https://www.facebook.com/profile.php?id=100095611680778"><i class="fa fa-facebook"
                                                                                              aria-hidden="true"></i></a>
                        <a
                                href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> <a href="#"><i
                                class="fa fa-youtube" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-skype"
                                                                                                 aria-hidden="true"></i></a>
                        <a
                                href="https://www.linkedin.com/company/telerik-academy/"><i class="fa fa-linkedin"
                                                                                            aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-rss"
                                       aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>