<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Social sidebar</title>
</head>
<body>

<div th:fragment="social">
    <div class="social-part2189">
        <h4>Find us</h4>
        <ul> <!-- Wrap the li elements inside a ul element -->
            <li class="rss-one">
                <a href="#" target="_blank"> <strong>
                    <span>Subscribe</span>
                    <i class="fa fa-rss" aria-hidden="true"></i>

                    <br>
                    <small>To RSS Feed</small>

                </strong> </a>
            </li>
            <li class="facebook-two">
                <a href="https://www.facebook.com/profile.php?id=100095611680778" target="_blank"> <strong>
                    <span>Follow us on</span>
                    <i class="fa fa-facebook" aria-hidden="true"></i>

                    <br>
                    <small>Facebook</small>

                </strong> </a>
            </li>
            <li class="twitter-three">
                <a href="#" target="_blank"> <strong>
                    <span>Subscribe</span>
                    <i class="fa fa-twitter" aria-hidden="true"></i>

                    <br>
                    <small>To twitter Feed</small>

                </strong> </a>
            </li>
            <li class="youtube-four">
                <a href="#" target="_blank"> <strong>
                    <span>Subscribe</span>
                    <i class="fa fa-youtube" aria-hidden="true"></i>

                    <br>
                    <small>To youtube Feed</small>

                </strong> </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>