<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top users</title>
</head>
<body>

<div th:fragment="topusers">
    <div class="highest-part302">
        <h4>Top users</h4>
        <div class="pints-wrapper" th:each="user : ${topUsers}">
            <div class="left-user3898">
                <a href="#" th:href="@{/users/{id}(id=${user.getId()})}"><img th:src="${user.getAvatar()}"
                                                                              alt="User Avatar"></a>
                <div class="imag-overlay39"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
            </div>
            <span class="points-details938">
                  <h5 th:text="${user.getUsername()}"></h5>
                  <p th:text="${user.getId()} + ' points'"></p>
            </span>
            <hr>
        </div>
    </div>
</div>


</body>
</html>