<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sex life & problems forum new post</title> <!-- Add the <title> element here -->
    <meta name="description"
          content="The Ask is a bootstrap design help desk, support forum website template coded and designed with bootstrap Design, Bootstrap, HTML5 and CSS. Ask ideal for wiki sites, knowledge base sites, support forum sites">
    <meta name="keywords"
          content="HTML, CSS, JavaScript,Bootstrap,js,Forum,webstagram ,webdesign ,website ,web ,webdesigner ,webdevelopment">
    <meta name="robots" content="index, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="../static/css/animate.css" rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css"
          th:href="@{/css/font-awesome.min.css}">
    <link href="../static/css/editor.css" rel="stylesheet" type="text/css" th:href="@{/css/editor.css}">
    <link href="../static/css/responsive.css" rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
</head>


<body>
<div th:replace="fragments/navbar :: navbar"></div>
<section class="header-descriptin329">
    <div class="container">
        <h3>Ask Question</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="#" th:href="@{/}">Home</a></li>
            <li class="active">Ask Question</li>
        </ol>
    </div>
</section>
<section class="main-content921 centered-width">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="ask-question-input-part032">
                    <h4>Ask Question</h4>
                    <hr>
                    <form>
                        <div class="question-title39">
                            <span class="form-description433">Question-Title* </span>
                            <label>
                                <input type="text" name="fname" class="question-tile32" placeholder="Write Your Question Title">
                            </label>
                        </div>
                        <div class="details2-239">
                            <div class="col-md-12 nopadding">
                                <span class="form-description433">Content* </span>
                                <label for="content"></label>
                                <textarea id="content" class="question-textarea"></textarea>
                            </div>
                        </div>
                        <div class="details2-239">
                            <div class="col-md-12 nopadding">
                                <span class="form-description433">Tags </span>
                                <label for="tags"></label>
                                <textarea id="tags"></textarea>
                            </div>
                        </div>
                        <div class="publish-button2389">
                            <input type="submit" value="Submit" class="publish1291">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<!--    footer -->
<div th:replace="fragments/footer :: footer"></div>

<script src="/js/jquery-3.1.1.min.js" th:href="@{/js/jquery-3.1.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<script src="/js/editor.js" th:href="@{/js/editor.js}"></script>


<script>
    $(document).ready(function () {
        $("#content").Editor();
    });
</script>

</body>

</html>