<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit post details</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Sex life & problems forum post details">
    <meta name="title" content="Ask online Form">
    <meta name="description"
          content="The Ask is a bootstrap design help desk, support forum website template coded and designed with bootstrap Design, Bootstrap, HTML5 and CSS. Ask ideal for wiki sites, knowledge base sites, support forum sites">
    <meta name="keywords"
          content="HTML, CSS, JavaScript,Bootstrap,js,Forum,webstagram ,webdesign ,website ,web ,webdesigner ,webdevelopment">
    <meta name="robots" content="index, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="../static/css/animate.css" rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css"
          th:href="@{/css/font-awesome.min.css}">
    <link href="../static/css/responsive.css" rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>

<section class="header-descriptin329">
    <div class="container">
        <h3>Post Details</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="#" th:href="@{/}">Home</a></li>
            <li><a href="#">Post Details</a></li>
            <li class="active">This Is My first Question</li>
        </ol>
    </div>
</section>
<section class="main-content920">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="post-details">
                    <div class="details-header923">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="left-user12923 left-user12923-repeat">
                                    <a href="#" th:href="@{/users/{id}(id=${topic.getCreator().getId()})}"><img
                                            th:src="${topic.getCreator().getAvatar()}" alt="User Avatar"> </a></div>
                            </div>

                            <div class="col-md-8">
                                <div class="post-title-left129">
                                    <h3 th:text="${topic.getTitle()}"> </h3></div>
                            </div>

                            <div class="col-md-8 ques-type302b" th:if="${topic.getCreator().getUsername()} == ${session.currentUser}">
                                <a href="#" th:href="@{/topics/edit/{id}(id=${topic.getId()})}">
                                    <button type="button" class="q-type238"><i aria-hidden="true"
                                                                               th:text="' Edit topic '">
                                         </i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="post-details-info1982">
                        <p th:utext="${topic.getContent()}"></p>
                        <hr>
                        <div class="post-footer29032">
                            <div class="l-side2023">
                                <!-- <a href="#"><i class="fa fa-star star2" aria-hidden="true">  5</i></a> -->

                                <a href="#"><i class="fa fa-star star2" aria-hidden="true">
                                    <span th:if="${topic.getLikes() != null}">[[${topic.getLikes()}]]</span>
                                    <span th:unless="${topic.getLikes() != null}">0</span>
                                </i></a>


                                <i class="fa fa-clock-o" aria-hidden="true"
                                   th:text="' ' + ${#temporals.format(topic.getCreationDate(), 'dd MMMM, yyyy')}"> </i>
                                <a href="#">
                                    <i class="fa fa-commenting commenting2" aria-hidden="true"
                                       th:text="' ' + ${topic.getPosts().size()} + ' comments'"> </i></a> <i
                                    class="fa fa-user user2" aria-hidden="true"
                                    th:text="' ' + ${topic.getViews()} + ' views'"> </i></div>
                            <div class="l-rightside39">
                                <!--
                                <button type="button" class="tolltip-button thumbs-up2" data-toggle="tooltip" data-placement="bottom" title="Like"><i class="fa fa-thumbs-o-up " aria-hidden="true"></i></button>
                                <button type="button" class="tolltip-button  thumbs-down2" data-toggle="tooltip" data-placement="bottom" title="Dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button> <span class="single-question-vote-result">+22</span> </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="share-tags-page-content12092">
                        <div class="l-share2093">
                            <a th:href="@{'https://www.facebook.com/sharer/sharer.php?u=' + ${currentUrl}}"
                               target="_blank"
                               rel="noopener noreferrer">
                                <i class="fa fa-share" aria-hidden="true"> Share</i></a>
                        </div>
                        <div class="R-tags309">
                            <i class="fa fa-tags" aria-hidden="true">
                                <span th:each="tag, iterStat : ${topic.tags}">
                                     <a th:href="@{'/tags/' + ${tag.getId()}}"><span th:text="${tag.getName()}"></span></a>
                                     <span th:if="${!iterStat.last}">,</span>
                                </span>
                            </i>
                        </div>
                    </div>

                    <div class="comment-list12993">
                        <div class="container">
                            <div class="row">
                                <div class="comments-container">
                                    <ul id="comments-list" class="comments-list">
                                        <li th:each="post : ${posts}">
                                            <div class="comment-main-level">
                                                <!-- Avatar part -->
                                                <div class="comment-avatar">
                                                    <img th:src="${post.getCreator().getAvatar()}" alt="User Avatar">
                                                </div>
                                                <!-- Comment part -->
                                                <div class="col-md-8 ques-type302b" th:if="${post.getCreator().getUsername()} == ${session.currentUser}">
                                                    <a href="#" th:href="@{/posts/edit/{id}(id=${post.getId()})}">
                                                        <button type="button" class="q-type238"><i aria-hidden="true"
                                                                                                   th:text="' Edit comment '">
                                                             </i></button>
                                                    </a>
                                                </div>


                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name">
                                                            <a href="#"
                                                               th:href="@{/users/{id}(id=${post.getCreator().getId()})}"
                                                               th:text="'Author: ' + ${post.getCreator().getUsername()}"></a>
                                                        </h6>
                                                        <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 , 2014 at 10:00 pm</i></span>
                                                        <i class="fa fa-reply"></i> <i class="fa fa-heart"></i>
                                                    </div>
                                                    <div class="comment-content" th:utext="${post.getContent()}"></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment289-box">
                    <h3>Leave A Reply</h3>
                    <hr>
                    <div class="row">
<!--                        You are commenting as **** part here -->
                        <div class="col-md-12">
                            <div class="post9320-box">
                                <input type="text" class="comment-input219882" placeholder="Enter your comment here..."></div>
                            <button type="button" class="pos393-submit">Post Comment</button>
                        </div>

                    </div>
                </div>
            </div>
            <!--                end of col-md-9 -->
            <!--           strart col-md-3 (side bar)-->
            <aside class="col-md-3 sidebar97239">
                <!--- Forum statistics part -->
                <div class="status-part3821">
                    <h4>Forum statistics</h4>
                    <a href="#"><i class="fa fa-question-circle" aria-hidden="true" th:text="' Active Topics: ' + ${allTopics.size()}"> </i></a>
                    <i class="fa fa-comment" aria-hidden="true" th:text="' Registered Users: ' + ${allUsers.size()}"> </i> </div>
                <!--              login part-->
                <div class="login-part2389">
                    <h4>Login</h4>
                    <div class="input-group300"><span><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="namein309" placeholder="Username"></div>
                    <div class="input-group300"><span><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <input type="password" class="passin309" placeholder="Name"></div>
                    <a href="#">
                        <button type="button" class="userlogin320">Log In</button>
                    </a>
                    <div class="rememberme">
                        <label>
                            <input type="checkbox" checked="checked"> Remember Me</label> <a href="#"
                                                                                             class="resbutton3892">Register</a>
                    </div>
                </div>
                <!--             social part -->
                <div class="social-part2189">
                    <h4>Find us</h4>
                    <li class="rss-one">
                        <a href="#" target="_blank"> <strong>
                            <span>Subscribe</span>
                            <i class="fa fa-rss" aria-hidden="true"></i>

                            <br>
                            <small>To RSS Feed</small>

                        </strong> </a>
                    </li>
                    <li class="facebook-two">
                        <a href="#" target="_blank"> <strong>
                            <span>Subscribe</span>
                            <i class="fa fa-facebook" aria-hidden="true"></i>

                            <br>
                            <small>To Facebook Feed</small>

                        </strong> </a>
                    </li>
                    <li class="twitter-three">
                        <a href="#" target="_blank"> <strong>
                            <span>Subscribe</span>
                            <i class="fa fa-twitter" aria-hidden="true"></i>

                            <br>
                            <small>To twitter Feed</small>

                        </strong> </a>
                    </li>
                    <li class="youtube-four">
                        <a href="#" target="_blank"> <strong>
                            <span>Subscribe</span>
                            <i class="fa fa-youtube" aria-hidden="true"></i>

                            <br>
                            <small>To youtube Feed</small>

                        </strong> </a>
                    </li>
                </div>
                <!--              highest part-->
                <div class="highest-part302">
                    <h4>Highest Points</h4>
                    <div class="pints-wrapper">
                        <div class="left-user3898">
                            <a href="#"><img src="image/images.png" alt="Image"></a>
                            <div class="imag-overlay39"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <span class="points-details938">
                     <a href="#"><h5>Ahmed Hasan</h5></a>
                <a href="#" class="designetion439">Pundit</a>
                     <p>206 points</p>
                 </span></div>
                    <hr>
                    <div class="pints-wrapper">
                        <div class="left-user3898">
                            <a href="#"><img src="image/images.png" alt="Image"></a>
                            <div class="imag-overlay39"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <span class="points-details938">
                     <a href="#"><h5>Ahmed Hasan</h5></a>
                <a href="#" class="designetion439">Pundit</a>
                     <p>206 points</p>
                 </span></div>
                    <hr>
                    <div class="pints-wrapper">
                        <div class="left-user3898">
                            <a href="#"><img src="image/images.png" alt="Image"></a>
                            <div class="imag-overlay39"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <span class="points-details938">
                     <a href="#"><h5>Ahmed Hasan</h5></a>
                <a href="#" class="designetion439">Pundit</a>
                     <p>206 points</p>
                 </span></div>
                    <hr>
                    <div class="pints-wrapper">
                        <div class="left-user3898">
                            <a href="#"><img src="image/images.png" alt="Image"></a>
                            <div class="imag-overlay39"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <span class="points-details938">
                     <a href="#"><h5>Ahmed Hasan</h5></a>
                <a href="#" class="designetion439">Pundit</a>
                     <p>206 points</p>
                 </span></div>
                    <hr>
                    <div class="pints-wrapper">
                        <div class="left-user3898">
                            <a href="#"><img src="image/images.png" alt="Image"></a>
                            <div class="imag-overlay39"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <span class="points-details938">
                     <a href="#"><h5>Ahmed Hasan</h5></a>
                <a href="#" class="designetion439">Pundit</a>
                     <p>206 points</p>
                 </span></div>
                </div>
                <!--               end of Highest points -->
                <!--          start tags part-->
                <div th:replace="fragments/tags_sidebar :: sidetags"></div>
                <!--          End tags part-->
               </aside>
        </div>
    </div>
</section>
<!--    footer -->
<div th:replace="fragments/footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/jquery-3.1.1.min.js" th:href="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
</body>

</html>