<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum tag list</title>
    <link href="../static/Styles.css" th:href="@{/Styles.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Front page</a></h3></li>
</ul>

<div th:if="${tags.isEmpty()}">
    <h2 th:text="#{tags.name.empty}">No Tags</h2>
</div>


<div th:unless="${tags.isEmpty()}">
    <h2 th:text="#{tags.name.allTags}">Listing all tags</h2>
    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{tags.id}">Tag id</div>
            <div class="cell" th:text="#{tags.name}">Tag name</div>
            <div class="cell" th:text="#{tags.creator}">Creator</div>
            <div class="cell" th:text="#{tags.creation_date}">Creation Date</div>
        </div>
        <div class="row" th:each="tag : ${tags}">
            <div class="cell">
                <a href="#" th:href="@{/tags/{id}(id=${tag.getId()})}" th:text="${tag.getId()}">Tag</a>
            </div>
            <div class="cell" th:text="${tag.getName()}"> </div>
            <div class="cell" th:text="${tag.getBelongs_to().getUsername()}"> </div>
            <div class="cell" th:text="${tag.getCreationDate()}"> </div>
        </div>
        <div th:if="${totalPages > 0}" class="pagination" th:inline="text" th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/tags(size=${pageSize}, page=${pageNumber})}"
               th:text="#{tags.paged} + ' ' + ${pageNumber}"
               th:class="${pageNumber == tagPage.number + 1} ? 'active'"> </a>
        </div>
    </div>
</div>

</body>
</html>