<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${topic.getTitle()}">Topic Profile</title>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/topics}" th:text="#{navigation.all-topics}">Browse all topics</a></h3></li>
</ul>
<h2 th:text="${topic.getTitle()}">Topic title</h2>
<h3 th:text="${topic.getCreator().getUsername()}">Andon Tsvetanov</h3>
<h3 th:text="${topic.getPosts().size()}">15</h3>
<h3 th:text="${topic.getCreationDate()}">12.05.2023 14:00</h3>
</body>
</html>